body{
    background-image: linear-gradient(45deg,rgb(202, 182, 174),rgb(65, 131, 136));
	font-family: "Open Sans", sans-serif;
}

nav{
    margin-bottom: 50px;
}
.container{
	background-color: white;
	height: auto;
}
.card{
	box-shadow:8px 5px 5px 5px #888888;
	margin: 20px;
}
.row{
	display: flex;
	justify-content: center;
}

h2{
    padding-top: 10px;
	text-align: center;
    display: block;
	background-color: white;
}
.shop-item img{
	display: flex;
	align-content: center;
	margin: auto;
	width: 60%;
}

.btn {
	width: 50px;
	font-size: 10px;
    text-align: center;
    vertical-align: middle;
    padding: .50em .50em;
	cursor: pointer;
}



.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}


.shop-item-title{
	display: block;
	text-align: justify;
}
.shop-item-title{
	text-align: center;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}
.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    width: 200px;
    font-size: 1.75em;
}